<div class="ngdialog-message">
	<div class="ngdialog-message">
		<table>
			<tr>
				<td>IP</td>  
				<td><input type="text" class="form-control" id="server"  placeholder="Enter client IP"></td>
			</tr>
			<tr>
				<td>Username</td>
				<td><input type="text" class="form-control" id="username"  placeholder="Enter client name"></td>
			<tr>
		</table>
	</div>
	<div class="ngdialog-buttons">
		<button ng-click="doServerStart()" class="ngdialog-button ngdialog-button-primary">Connect</button>	
	</div>
</div>