<div class="row">
    <span>Ip:</span>
    <input type="text" id="ip" value="127.0.0.1" />
    <span>Port:</span>
    <input type="text" id="port" value="60001" />
    <button ng-click="doStart()" class="btn btn-success">Start</button>
    <button ng-click="doStop()" class="btn btn-primary">Stop</button>
    <button ng-click="refreshMsg()" class="btn btn-primary">Refresh</button>
</div>
<div class="row">
    <input type="text" id="txt" value="received hello world" />
    <button ng-click="doSend()" class="btn btn-primary">Send</button>
</div>
<div class="row" id="logWnd">
    {{msgs}}
</div>