<div align="center">
	<form class="form-inline" role="form" method="post">
		<div class="form-group">
			<input type="text" class="form-control" id="server"  placeholder="Enter server IP">
		</div>
		<button ng-click="doClientStart()" class="btn btn-success">Connect</button>	
		<button ng-click="showScreenShot()" class="btn btn-success">Show Screen Shot</button>
	</form>
</div>

<div class="row">
	<input type="image" id="add_new_client" ng-click="addNewClient()" src="wp-includes/img/add_new_client.png" />
	<a ng-click="showLargeScreenShot()"> <img id="screen_shot_image" ng-mouseover="showScreenShotInfo()"/> </a>
</div>


<script type="text/ng-template" id="connectInfoDialog">
	<div class="ngdialog-message">
		<h5> You have connected to the server! </h5>
	</div>	
</script>

<script type="text/ng-template" id="addNewClientDialog">
	<div class="ngdialog-message">
		<div class="ngdialog-message">
			<table>
				<tr>
					<td>IP</td>  
					<td><input type="text" class="form-control" id="client"  placeholder="Enter client IP"></td>
				</tr>
			</table>
		</div>
		<div class="ngdialog-buttons">
			<button ng-click="doServerStart()" class="ngdialog-button ngdialog-button-primary">Connect</button>	
		</div>
	</div>
</script>
