<div align="center">
	<form class="form-inline" role="form" method="post">
		<div class="form-group">
			<input type="text" class="form-control" id="server"  placeholder="Enter server IP">
			<input type="text" class="form-control" id="username"  placeholder="Enter your name">
		</div>
		<button ng-click="doClientStart()" class="btn btn-success">Connect</button>	
	</form>
</div>

<div class="row">
	<input type="image" id="add_new_client" ng-click="addNewClient()" src="wp-includes/img/add_new_client.png" />
	<img id="screen_shot_image" ng-click="showLargeImage()" onmouseover="showImageInfo()"/>
</div>

